@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Punchsheel Markit<br />
    Crossings Republik-GZB<br />
    <abbr title="Phone">P:</abbr>
    9811.730.868
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:admin@crossfriend.com">admin@crossfriend.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:admin@crossfriend.com">admin@crossfriend.com</a>
</address>