@model KYN_App_v1._1.Models.NewsLetterViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>We are Still working on it</h1>

<h1>If you have ay comment or suggestions then please contact at +91-9811730868</h1>
